body {
    font-family: courier, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-top: 1.5em;
    font-variant: small-caps;
    font-size: 1.5em;
    margin-bottom: 1.3em;
}

ul {
    list-style-type: none;
    width: 50%;
}

li {
    margin-bottom: 1em;
}

.bold {
    font-weight: bold;
}